*{
    margin:0 px;
    padding: 0 px;
    border: 0 px;
}

#singer{
    border-radius:50%;
    border-color: #e6cc3e;
    border-width: 3px;
    border-style: solid;
    display: block;
    margin: auto;
}

#image{
    margin-top: 30px;
}

body{
    background-color: rgb(243, 239, 239);
    font-family: 'Roboto', sans-serif;
}
#date_of_birth{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
#album_of_when_was_children {
    list-style-image: url(../imagens/music.png);
    list-style-position: inside;
}
#album_of_when_was_children a {
    text-decoration: none;
    color: black
}
#album_of_when_was_children a:hover {
    color:rgb(231, 207, 79);
}
#album_solo{
    list-style-image: url(../imagens/music.png);
    list-style-position: inside;
}
#album_solo a {
    text-decoration: none;
    color: black;
}
#album_solo a:hover{
    color:rgb(231, 207, 79);
}
#this_is_it_video{
   display: inline-block;
}
#this_is_it{
    display: inline-block;
    width:50%;
}
#sinopse{
    text-align:justify;
    margin-left: 20px;
    border-left: 2px solid black;
    padding-left: 10px;
}
.tenor-gif-embed{
    display: inline-block;

}
#what_is{
    display: inline-block;
    width: 50%;  
}
#definition{
    text-align: justify;
    margin-left: 20px;
    border-left: 2px solid black;
    padding-left: 10px;
}
#off_the_wall{
    color: black;
    text-decoration: none;
}
#off_the_wall:hover{
    color:rgb(231, 207, 79);
}